*{
	border: 0;
	margin:0;
	padding:0;
	text-decoration:none;
}

body {
	background-color: #eee;
	color:black;
	font-family:'RobotoDraft', sans-serif;
}

header{
	position:fixed;
	width:100%;
	height:128px;
	background:#00E676;
	padding-left: 16px;
	box-shadow: rgba(0, 0, 0, 0.458824) 0px 4px 7px;
	z-index:5;
}
